.options {
    margin: 0 50px 70px 0;
    background-color: rgb(201, 201, 201);
    padding: 15px;
    border-radius: 15px;
    width: 250px;
}

.option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border-bottom: solid;
    border-width: thin;
    border-color: rgb(177, 177, 177); */
}

.option p {
    margin: 5px;
    cursor: pointer;
}

.option p:hover {
    opacity: 0.5;
}

.iconOption {
    margin-right: 15px;
    cursor: pointer;
}

.iconOption:hover {
    opacity: 0.5;
}